extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-offset-9.small-3.columns
      form#startform(action='/', method='post')
        fieldset
          legend Start Game
          .row
            mixin field(12, 'text', 'name', 'Name', null, 'Your Name', true)
            mixin field(12, 'text', 'difficulty', 'Difficulty', null, 'Easy', true)

            //- select#level
            //-   option(value="default") Level
            //-   option(value="easy") Easy
            //-   option(value="medium") Medium
            //-   option(value="hard") Hard
          .row
            .small-12.columns
              button#start.expand.radius.small(type='submit') Start Game
  .row
    .small-offset-9.small-3.columns
      button#shuffle.expand.radius.small.hidden Shuffle
  .row
    .small-12.columns
      #game

