.contain-to-grid.fixed#navbar-gutter
  nav.top-bar#navbar
    ul.title-area
      li.name
        h1.subheader#header: a(href="/") Fix My Cat
        #header-img
          img#tools(src='http://iconizer.net/files/Ecqlipse_2/orig/TOOLS.png')
          img#cat-head(src='http://2.bp.blogspot.com/-HwsMWTZkLvE/UA9ouD23y2I/AAAAAAAAFsc/pNucnziObb8/s1600/free+vintage+printable_halloween+cat+head.png');
.row
  .small-12.columns